html {
  height: 100%;
  width: 100%;
}
.flex-container {
  display: flex;
 }
/*Set border,background color, and font*/
li{
  margin-left:35px;

 
 

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: bold;
  
  
}


/*.listStyle {
 
 border-width: 3px;
 border-color: darkgreen;
 border-style: solid;
 margin: 25px;
 margin-right: 40px;
}*/
* {
  margin: 0;
  padding: 0;
}
.fullscreen-video-container {
  position: relative;


  overflow: hidden;
}
.fullscreen-video-container video {
  position: absolute;

  width: auto;
  height: auto;

  min-width: 100%;
  min-height: 100%;

  top: 50%;
  left: 50%;
transform: translate(-50%,-50%);

  z-index: -1;  
}
body {
  /* Center the form on the page */
  text-align: center;
}

form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}