html {
  height: 100%;
  width: 100%;
}
.flex-container {
  display: flex;
 }
/*Set border,background color, and font*/
li{
  margin-left:35px;
}
 
 

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  font-style italic; 
  
  
}
/*.listStyle {
 
 border-width: 3px;
 border-color: darkgreen;
 border-style: solid;
 margin: 25px;
 margin-right: 40px;
}*/
* {
  margin: 0;
  padding: 0;
}
.fullscreen-video-container {
  position: relative;


  overflow: hidden;
}
.fullscreen-video-container video {
  position: absolute;

  width: auto;
  height: auto;

  min-width: 100%;
  min-height: 100%;

  top: 50%;
  left: 50%;
transform: translate(-50%,-50%);

  z-index: -1;  
}